# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# ML saved models
*/saved_models/*.pkl

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Byte-compiled / optimized files
*.pyc

# Distribution
dist/
build/
*.egg-info/
new.pem
